button {
  border: none;
}

.button {
  display: flex;
  height: 50px;
  text-decoration: none;
  border-radius: 8px;
  background-color: #2060F6;
  color: $secondary-text;
  align-items: center;
  justify-content: center;

  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;

  @include hover(background-color, #144ED4);

  @include on-tablet {
    max-width: 264px;
  }
}
