.card {
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 #25293108;
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include on-tablet {
    grid-column: span 3;

    &:nth-child(2n) {
      transform: translateY(-50%);
    }

  }

  @include on-desktop {
    grid-column: span 6;
  }

  &__number {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 24px;
    color: $main-elements;

    border-radius: 23px;
    background-color: $bg-pale;
    width: 46px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description {
    margin-bottom: 32px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;

  }

  &__button {
    display: flex;
    column-gap: 16px;
    align-items: center;
    text-decoration: none;


    span {
      font-family: Poppins, sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: #334563;
    }
  }

  &__arrow {
    background-image: url(../images/services/card-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;


    @include hover(transform, scale(1.2));
  }
}
