.cta {
  padding-block: 72px;
  background-color: #fff;
  margin-top: 120px;
  background-image: url(../images/Shapes.png);
  background-repeat: no-repeat;
  background-position: center;

  @include on-tablet {
    margin-top: 148px;
    padding-block: 200px;
  }

  &__description {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-inline: auto;
    text-align: center;
    max-width: 754px;
  }

  &__button {
    margin-inline: auto;

    margin-top: 56px;

    @include on-tablet {
      margin-top: 64px;
    }
  }
}
