.expertise {
  border-radius: 30px;
  padding-block: 72px;
  background-color: #fff;

  &__title {
    text-align: center;
  }

  &__items {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include on-desktop {
      @include page-grid;

    }
  }
}
