.footer {
  margin-top: 120px;
  border-radius: 30px 30px 0 0;
  background-color: $bg-dark;

  padding-top: 72px;

  @include on-tablet {
    padding-top: 180px;
    margin-top: 0;
  }

  &__wrapper {
    @include on-desktop {
      @include page-grid;
    }
  }

  &__send-us {
    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 48px;

    @include on-tablet {
      row-gap: 48px;
    }
  }
  &__button {
    margin-top: 16px;

    @include on-tablet {
      margin-top: 32px;
    }
  }

  &__contact-us {
    margin-top: 80px;

    @include on-tablet {
      margin-top: 120px;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }

    @include on-design {
      grid-column: 8 / -1;
    }

  }

  &__nav {
    margin-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    @include on-tablet {
      margin-top: 139px;
      row-gap: 24px;
    }

    @include on-desktop {
      flex-direction: row;
      justify-content: space-between;
      grid-column: 1 / -1;

    }



    &-list {
      gap: 24px;

      @include on-tablet {
        flex-direction: row;
        gap: 40px;
      }

      @include on-desktop {
        flex-direction: row;
        gap: 64px;
      }
    }
  }

  &__title {
    color: $secondary-text;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__contact-title {
    margin: 0;

    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: #969696;
  }

  &__contact-description {
    text-decoration: none;
    margin-top: 8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: $secondary-text;
  }

  &__socials {
    display: flex;
    column-gap: 32px;


  }
}
