.header {
  background-color: $bg-dark;
  height: 100%;
  border-radius: 0 0 30px 30px;


  @include on-desktop {
    height: 800px;
  }

  &__main {
    position: relative;

  }

  &__content {
    @include page-grid;
  }

  &__information {
    margin-top: 48px;
    grid-column: 1 / -1;

    @include page-grid;

    @include on-tablet {
      margin-top: 56px;
    }

    @include on-desktop {
      grid-column: 1 / 6;
      display: block;
      align-self: center;
      margin-top: 120px;
    }
  }

  &__text {
    grid-column: 1 / -1;
  }

  &__title {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 62.4px;
    letter-spacing: -2px;
    color: $secondary-text;

    grid-column: 1 / -1;

    @include on-tablet {
      letter-spacing: 0;
      font-size: 64px;
      line-height: 68px;
    }
  }

  &__description {
    color: $secondary-text;
    font-size: 18px;
    line-height: 27px;

    margin-top: 32px;
    grid-column: 1 / -1;

    @include on-tablet {
      width: 362px;
    }
  }

  &__button {
    grid-column: 1 / -1;
    margin-top: 72px;

    @include on-tablet {
      margin-top: 56px;
    }

    @include on-desktop {
      margin-top: 83px;
    }
  }

  &__carousel {
    height: 390px;
    background-image: url(../images/slider/slide-img-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    box-sizing: border-box;
    margin-inline: -$padding-content;

    margin-top: 48px;
    grid-column: 1 / -1;

    @include on-tablet {
      margin-top: 147px;
      margin-inline: -$padding-content-tablet;
    }

    @include on-desktop {
      height: 680px;
      background-size: cover;
      background-position: 50%;
      margin-top: 0;
      margin-inline: 0;
      position: absolute;
      right: 0;
      left: 50%;
      border-radius: 30px 0;
    }

    @include on-design {
      left: 55%;
    }
  }
}
