.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  &__big {
    width: 32px;
    height: 32px;

    path {
      transition: fill 0.3s;
    }

    &:hover path {
      fill: $main-elements;
    }
  }


  &--menu {
    background-image: url(../images/icons/menu-icon.svg);

    margin-block: auto;

    &--left {
     margin-left: 32px;
    }

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }

}
