.input {
  height: 40px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  padding: 0;
  color: #fff;

  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;

  &::placeholder {
    color: #969696;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid #144ED4;

  }
}
