.item {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include on-tablet {
    @include page-grid;

    grid-column: span 4;
    align-items: start;

  }



  &__img {
    width: 166px;
    height: 166px;
    justify-self: center;

    grid-column: 1 / -1;
  }

  &__title {
    margin-top: 32px;
    grid-column: 2 / -2;

    text-align: center;
  }

  &__description {
    margin-top: 16px;
    grid-column: 2 / -2;

    line-height: 21px;
    text-align: center;
  }
}
