.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $bg-dark;

  font-weight: 700;
  text-transform: uppercase;

  &__top {
    margin-bottom: 32px;
  }

  &__nav {
    margin-bottom: 48px;
  }


}
