.quote {
  padding: 32px 42px;
  box-shadow: 0 9px 18px 0 #25293108;
  background-color: #fff;
  border-radius: 16px;
  text-decoration: none;
  color: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include hover(transform, scale(1.1));

  @include on-tablet {
    padding-inline: 100px;
  }

  @include on-desktop {
    padding-inline: 42px;
  }




  &__profile {
    @include on-tablet {
      width: 250px;
      height: 250px;
    }

    @include on-desktop {
      width: auto;
      height: auto;
    }

  }

  &__marks {
    background-image: url(../images/testimonials/quote.svg);
    width: 24px;
    height: 24px;
    margin-top: 24px;
  }

  &__text {
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
  }

  &__response {
    margin-top: 8px;

    @include on-desktop {
      max-width: 250px;
    }

  }

  &__person {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
  }

  &__name {
    color: $main-title;
  }

  &__direction {
    font-family: Poppins, sans-serif;
    color: $section-title;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
  }

}
