.services {
  margin-top: 120px;

  @include on-tablet {
    margin-top: 148px;
  }

  @include on-desktop {
    margin-top: 280px;
  }

  &__description {
    line-height: 21px;
  }

  &__wrapper {
    @include on-tablet {
      @include page-grid;
    }
  }

  &__text-block {
    grid-column: 1 / 4;

    @include on-desktop {
      grid-column: 1 / 5;
    }
  }

  &__cards {
    margin-top: 48px;

    display: flex;
    gap: 24px;
    flex-direction: column;

    @include on-tablet {
      grid-column: 1 / -1;

      @include page-grid;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }

  }
}
