.slider {
  display: flex;
  align-items: end;

  padding-left: 20px;
  padding-bottom: 24px;

  @include on-tablet {
    padding-left: 41px;
    padding-bottom: 32px;
  }

  @include on-desktop {
    padding-left: 78px;
    padding-bottom: 48px;
  }

  @include on-design {
    padding-left: 48px;
    padding-bottom: 48px;
  }

  &__elements {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include on-desktop {
      column-gap: 24px;
      align-items: center;
      flex-direction: row;
    }
  }

  &__arrows {
    display: flex;
    column-gap: 16px;
  }

  &__arrow {
    // background-color: #fff;
    height: 32px;
    width: 32px;

    @include hover(transform, scale(1.1));

  }

  &__arrow-left {
    background-image: url(../images/slider/arrow-left.svg);
  }

  &__arrow-right {
    background-image: url(../images/slider/arrow-right.svg);
  }

  &__information {
    color: $secondary-text;
    display: grid;
    row-gap: 8px;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__description {
    line-height: 19.6px;
  }
}
