.testimonials {
  margin-top: 120px;

  @include on-tablet {
    margin-top: 148px;
  }

  &__quotes {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include on-tablet {
      row-gap: 30px;
    }

    @include on-desktop {
      @include page-grid;

    }
  }

  &__quote {
    @include on-desktop {
      grid-column: span 4;
    }
  }
}
