.title {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: $main-title;

  &__block {
    font-size: 32px;
    margin-bottom: 24px;
  }

  &__block--big {
    font-size: 44px;
    text-align: center;

    @include on-tablet {
      font-size: 52px;
    }
  }

  &__item {
    color: $main-title;
    font-size: 20px;
  }

  &__section {
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    color: $section-title;
    text-transform: uppercase;
  }
}
