.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  @include on-desktop {
    padding-top: 0;
    height: 120px;
  }

  &__left-block {
    display: flex;
    column-gap: 32px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__right-link {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    color: $secondary-text;
    text-transform: uppercase;
    position: relative;


    &::after {
      content: '';
      height: 2px;
      width: 100%;
      background-color: $main-elements;
      position: absolute;
      bottom: -8px;
      display: block;
      left: -2px;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  &__nav {
    display: none;

    @include on-desktop {
      display: block;
    }
  }
}
