.who-we-are {
  height: 540px;
  display: grid;
  align-items: center;



  &__title {
    text-align: center;
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;

    @include on-desktop {
      max-width: 716px;
    }

    @include on-design {
      max-width: 754px;
    }
  }
}
