$c-gray: #eee;
$bg-pale: #e9f0ff;
$bg-dark: #2C2C2C;
$main-elements: #2060F6;
$main-title: #253757;
$main-text: #6C788B;
$secondary-text: #fff;
$section-title: #C0CDD7;
$desktop-max-width: 1150px;
$design-min-width: 1600px;
$desktop-min-width: 1024px;
$tablet-min-width: 640px;
$phone-min-width: 320px;
$padding-content-desktop: 54px;
$padding-content-tablet: 40px;
$padding-content: 20px;
